@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>UPC-Lunch is an application that will allow students to find restaurants near their location and display information such as menu, availability, and location.</p>
<p>This application is designed so the students don't lose time searching for restaurants at lunch</p>
<div class="text-center">
    <img src="~/Content/Images/about.jpg" />
</div>
