@{
    ViewBag.Title = "Technologies";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
        <strong>This applications we used:</strong> 
        <br />
        <br />
    <ul>
        <li>Microsoft .Net Framework</li>
        <li>            Visual Studio 2015        </li>
        <li>            Microsoft ASP.Net        </li>
        <li>            Microsoft OWIN        </li>
        <li>            Microsoft Idenity        </li>
        <li>            Google Maps (coming soon!)        </li>
        
</ul>
</address>

<div class="text-center">
    <img src="https://assets.easypost.com/img/blog/2f716ff9.net-logo.png" />
</div>