@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UPC-LUNCH</h1>
    <p class="lead">UPC-LUNCH is a web app for the hungry student who wants to have lunch and doesn't have time to search for restaurants.</p>
    <p>


    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find your restaurants</h2>
        <p>
            UPC-Lunch allows you to find the nearest restaurants at lunch time, and allows you to see their availability in real time.
        </p>
        <div class="text-center">
            <img style="width: 100px; height: 100px;" src="~/Content/Images/maps.png" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>Find your favorite plates</h2>
        <p>You can select yor favorite plates and keep track on them to know when they are available in the restaurants near you.</p>

        <div class="text-center">
            <img style="width: 100px; height: 100px;" src="~/Content/Images/restaurant.jpg" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>Get Notified</h2>
        <p>You can also be notified of when your favorite retaurants has an available space or the changes they are making in the menu.</p>
        <div class="text-center">
            <img style="width: 100px; height: 100px;" src="~/Content/Images/Notif.png" />
        </div>
    </div>

</div>